:root {
 
  --color-blue: #5173A9;
  --color-green-dark: #759F63;
  --color-green-light: #8EAC82;
  --color-coral: #E16D5C;
  --color-yellow: #E0AC3E;
  --color-beige: #F3EEE4;
 
  --color-white: #FFFFFF;
}

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;  /* Prevent horizontal scroll */
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--color-beige);
  /* color: var(--color-green-dark); */
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;  /* Prevent horizontal scroll */
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}



.content-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.content-card {
  max-width: 800px;
  padding: 3rem;
}


@media (max-width: 768px) {

}



